<h1>There was an error registering the domain <%= @registration.domain %>:</h1>

<h3><%= flash[:error] %></h3>

<p>
  We will automatically retry in a couple of minutes.  If the problem persists, we will notify you and refund your money.  If you have any questions, contact us at problems@customtumblrdomains.com
</p>
